.outer-container {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    text-align: center;
    background-color: lightgrey;
}

.phones {}

.phone {
    float: left;
    width: 375px;
    height: 812px;
    border: 6px solid gray;
    border-radius: 24px;
    margin-left: 40px;
    margin-bottom: 40px;
    background-color: white;
    background-image: url(../../public/top-bg.png);
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: 0;
    box-sizing: border-box;
}

.top-heading {
    color: white;
    font-weight: bold;
}

.main-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.main-text b {
    font-weight: bold;
}

.crypto-image {
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
}

.crypto-image-1 {
    background-image: url(../../public/logo.png);
    background-position-y: 200px;
    height: 600px;
}

.enter-app-button {
    position: relative;
    top: 600px;
    width: 200px;
}

.crypto-image-2 {
    background-image: url(../../public/connect-wallet.png);
    background-position-y: 42px;
    height: 600px;
}

.create-contract-button {
    position: relative;
    color: white;
    top: 700px;
    width: 200px;
    background-color: rgb(50, 134, 207);
}

.crypto-image-2a {
    background-image: url(../../public/select-wallet.png);
    background-position-y: 42px;
    height: 1000px;
}

.select-wallet-button {
    position: relative;
    color: white;
    top: 554px;
    width: 200px;
}

.crypto-image-3 {
    background-image: url(../../public/wallet-bg.png);
    background-position-y: 42px;
    height: 1000px;
}

.create-crypto-button {
    position: relative;
    color: white;
    top: 156px;
    width: 200px;
}

.crypto-image-4 {
    background-image: url(../../public/about-your-contract.png);
    background-position-y: 42px;
    height: 1000px;
}

.about-contract-button {
    position: relative;
    color: white;
    top: 650px;
    width: 200px;
    background-color: rgb(50, 134, 207);
}

.crypto-image-5 {
    background-image: url(../../public/agreement-details.png);
    background-position-y: 42px;
    height: 1000px;
}

.agreement-details-button {
    position: relative;
    color: white;
    top: 650px;
    width: 200px;
    background-color: rgb(50, 134, 207);
}
.crypto-image-6 {
    background-image: url(../../public/agreement-details.png);
    background-position-y: 42px;
    height: 1000px;
}

.payment-terms-button {
    position: relative;
    color: white;
    top: 660px;
    width: 200px;
    background-color: rgb(50, 134, 207);
}

.crypto-image-7 {
    background-image: url(../../public/preview-contract.png);
    background-position-y: 42px;
    height: 1000px;
}

.preview-contract-button {
    position: relative;
    color: white;
    top: 660px;
    width: 200px;
    background-color: rgb(50, 134, 207);
}

.crypto-image-8 {
    background-image: url(../../public/contract-created.png);
    background-position-y: 42px;
    height: 1000px;
}

.contract-created-button {
    position: relative;
    color: white;
    top: 660px;
    width: 200px;
    background-color: rgb(50, 134, 207);
}

.crypto-image-9 {
    background-image: url(../../public/status-1.png);
    background-position-y: 42px;
    height: 1000px;
}

.status-1-button {
    position: relative;
    color: white;
    top: 660px;
    width: 200px;
    background-color: rgb(50, 134, 207);
}
.crypto-image-10 {
    background-image: url(../../public/status-2.png);
    background-position-y: 42px;
    height: 1000px;
}

.status-2-button {
    position: relative;
    color: white;
    top: 660px;
    width: 200px;
    background-color: rgb(50, 134, 207);
}

.crypto-image-11 {
    background-image: url(../../public/status-3.png);
    background-position-y: 42px;
    height: 1000px;
}

.status-3-button {
    position: relative;
    color: white;
    top: 660px;
    width: 200px;
    background-color: rgb(50, 134, 207);
}

.crypto-image-12 {
    background-image: url(../../public/last-page.png);
    background-position-y: 42px;
    height: 1000px;
}

.create-contract-button {
    position: relative;
    color: white;
    top: 660px;
    width: 200px;
    background-color: rgb(50, 134, 207);
}

.last-contractor-button {
    position: relative;
    color: white;
    top: 660px;
    width: 200px;
    background-color: rgb(50, 134, 207);
}

.crypto-image-13 {
    background-image: url(../../public/concept-design-1.png);
    background-position-y: 42px;
    height: 1000px;
}

.concept-design-1-button {
    position: relative;
    color: white;
    top: 660px;
    width: 200px;
    background-color: rgb(50, 134, 207);
}

.crypto-image-14 {
    background-image: url(../../public/concept-design-2.png);
    background-position-y: 42px;
    height: 1000px;
}

.concept-design-2-button {
    position: relative;
    color: white;
    top: 660px;
    width: 200px;
    background-color: rgb(50, 134, 207);
}

.crypto-image-15 {
    background-image: url(../../public/concept-design-3.png);
    background-position-y: 42px;
    height: 1000px;
}

.concept-design-3-button {
    position: relative;
    color: white;
    top: 660px;
    width: 200px;
    background-color: rgb(50, 134, 207);
}


